.copyright__text {
    vertical-align: middle;
    margin-right: 15px;
    font-size: 14px;
    line-height: 18px;
}
.copyright__link {
    display: inline-block;
    vertical-align: middle;
    width: 27px;
    height: 36px;
    background-size: contain;
}

.copyright__icon {
    fill: #d22856;
}

.copyright__link:hover .copyright__icon {
    fill: #283645;
}

.copyright__link:active .copyright__icon {
    fill-opacity: .3;
}


@media screen and (min-width: $medium) {
    .copyright {
        display: inline-block;
        text-align: right;
    }
}

