.form-fields {
    border: none;
}

.form-fields__label {
    display: block;
    padding-left: 20px;
    margin-bottom: 7px;
    color: #d22856;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
}

.form-fields__list .form-fields__label {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 26px;
    transform: translateY(25%);
    color: #283645;
    text-transform: none;
    font-size: 18px;
    line-height: 30px;
}

.form-fields__input {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    padding-left: 20px;
    border: 2px solid #e5e5e5;
    font-size: 18px;
    line-height: 59px;
    outline: none;
}

.form-fields__input:hover {
    border-color: #283645;
}

.form-fields__input:active,
.form-fields__input:focus {
    border-color: #d22856;
}

.form-fields__icon--phone,
.form-fields__icon--email {
    display: none;
}

.form-fields__textarea {
    min-height: 200px;
    padding-top: 17px;
    line-height: 30px;
}

.form-fields__item:not(:last-child) {
    margin-bottom: 19px;
}

.form-fields__list  .form-fields__item:not(:last-child) {
    margin: 0;
    padding: 0;
    margin-bottom: 42px;
}

.form-fields__title {
    width: 250px;
    margin: 0 auto;
    font-weight: 400;
    color: #d22856;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}

.main-form__travel-emotion .form-fields__title {
    line-height: 30px;
    margin-bottom: 10px;
}

.form-fields--contacts .form-fields__title {
    display: none;
}

.form-fields__list {
    padding: 0;
    margin: 0;
    margin-top: 38px;
    list-style: none;
}

.form-fields__input-radio,
.form-fields__input-checkbox {
    display: none;
}

.form-fields__custom-checkbox {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 35px;
    width: 35px;
    border: 2px solid #e5e5e5;
    background: #fff;
}

.form-fields__custom-checkbox:hover {
    border-color: #283645;
}
.form-fields__input-checkbox + .form-fields__custom-checkbox:active {
    border-color: #d22856;
}

.form-fields__checkbox-icon {
    display: none;
}

.form-fields__input-checkbox:checked + .form-fields__custom-checkbox .form-fields__checkbox-icon {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 30px;
    height: 25px;
    transform: translate(-50%, -50%);
    fill: #d22856;
}

.form-fields__custom-radio {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
    background: #fff;
}

.form-fields__custom-radio:hover {
    border-color: #283645;
}
.form-fields__input-radio + .form-fields__custom-radio:active {
    border-color: #d22856;
}

.form-fields__input-radio:checked + .form-fields__custom-radio:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: #d22856;
}


@media screen and (min-width: $medium) {
    .form-fields {
        padding-left: 52px;
        padding-right: 48px;
        padding-bottom: 48px;
        border: 2px solid #e5e5e5;
        &--nogroup {
            padding: 0;
            border: none;
        }
    }

    .form-fields__item {
        display: flex;
    }

    .form-fields__item:not(:last-child) {
        margin-bottom: 52px;
    }

    .form-fields__wrap {
        flex-grow: 1;
    }

    .form-fields__icon {
        position: relative;
    }

    .form-fields__icon:after {
        content: "";
        position: absolute;
        top: 2px;
        right: 2px;
        z-index: 1;
        height: 58px;
        width: 58px;
        fill: #d22856;
        background: #e5e5e5;
    }

    .form-fields__icon--phone {
        content: "";
        position: absolute;
        top: 50%;
        right: 22px;
        z-index: 2;
        transform: translateY(-50%);
        display: inline;
        width: 20px;
        height: 20px;
        fill: #d22856;
    }

    .form-fields__icon--email {
        content: "";
        position: absolute;
        top: 50%;
        right: 23px;
        z-index: 2;
        display: inline;
        transform: translateY(-50%);
    }

    .form-fields__label {
        padding: 0;
        margin: 0;
    }

    .form-fields--nogroup .form-fields__label {
        margin-right: 20px;
        padding-top: 20px;
        align-items: center;
    }

    .form-fields--contacts {
        padding-bottom: 25px;
    }

    .form-fields--contacts .form-fields__item {
        flex-wrap: wrap;
    }

    .form-fields--contacts .form-fields__item {
        margin-bottom: 30px;
    }

    .form-fields--contacts .form-fields__item:last-child {
        margin-bottom: 0;
    }

    .form-fields--contacts .form-fields__title {
        display: table;
        margin-bottom: 32px;
    }

    .form-fields--contacts .form-fields__label {
        order: 1;
        margin-top: 12px;
        padding-left: 20px;
    }

    .form-fields--contacts .form-fields__wrap {
        width: 100%;
        order: 0
    }

    .form-fields__title {
        width: auto;
        padding-left: 38px;
        padding-right: 38px;
    }

    .main-form__travel-emotion .form-fields__title {
        margin-bottom: 32px;
    }
}


@media screen and (min-width: $large) {
    .form-fields--contacts {
        padding: 0 60px 15px 60px;
    }

    .form-fields__contact-wraper {
        display: flex;
        justify-content: space-between;
    }

    .main-form__form-contacts .form-fields__item {
        width: 376px;
        margin-bottom: 0;
    }

    .form-fields__textarea {
        min-height: 130px;
    }

    .form-fields__achievement-wraper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .form-fields__achievement-wraper .form-fields__item {
        width: 260px;
    }

    .form-fields__achievement-wraper .form-fields__label {
        margin-left: 18px;
    }

    .form-fields--achievement {
        padding: 0 60px 12px 60px;
    }

    .form-fields--app {
        padding-left: 72px;
    }
}