.main-nav__list {
    display: none;
    &--menu-active {
        position: absolute;
        display: block;
        width: 100%;
    }
}

.main-nav__button .main-nav__icon--close {
    display: none;
}

.main-nav__button--close .main-nav__icon {
    display: none;
}

.main-nav__button--close .main-nav__icon--close {
    display: inline;
}


.main-nav__icon {
    width: 50px;
    height: 24px;
    fill: #fff;
    &:hover {
        fill: #d22856;
    }
    &:active {
        opacity: .3;
    }
    &--close {
        width: 24px;
        height: 24px;
        fill: #fff;
    }
    &--close:hover {
        fill: #d22856;
    }
    &--close:active {
        opacity: .3;
    }
}


@media screen and (min-width: $large) {
    .main-nav {
        width: 622px;
    }
    .main-nav__button {
        display: none;
    }
    .main-nav__list {
        display: flex;
        justify-content: space-between;
    }
}