.main-form__form-section {
    margin-top: 34px;
}

.main-form__form-section:first-child{
    margin-top: 0;
}

.main-form__form-section--box {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 42px;
    background: #f2f2f2;
}

.main-form__wraper {
    display: block;
    width: 280px;
    margin: 0 auto;
}

.main-form__popup {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
}

.main-form__button {
    display: block;
    width: 280px;
    margin: 0 auto;
    padding: 19px 0;
    border: none;
    outline: none;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background: #2aab6d;
    cursor: pointer;
}

.main-form__legend {
    margin-top: 37px;
    text-align: center;
    &--mobile {
        display: none;
    }
}

.main-form__note {
    color: #d22856;
}


@media screen and (min-width: $medium) {
    .main-form {
        display: flex;
        flex-wrap: wrap;
    }

    .main-form__form-section {
        margin: 0 auto;
        padding: 0;
        margin-bottom: 54px;
        background: #fff;
    }

    .main-form__form-personal {
        order: 0;
    }

    .main-form__travel-achievement {
        order: 3;
    }

    .main-form__form-contacts {
        order: 2;
    }

    .main-form__app {
        order: 1;
    }

    .main-form__travel-emotion {
        margin-bottom: 67px;
        order: 4;
    }

    .main-form__controls {
        margin-bottom: 0;
        order: 5;
    }

    .main-form__wraper {
        box-sizing: border-box;
        width: 620px;
        margin: 0 auto;
        padding: 0;
    }
}

@media screen and (min-width: $large) {
    .main-form {
        width: 960px;
        box-sizing: border-box;
        padding: 0 10px;
        margin: 0 auto;
        padding-bottom: 42px;
        justify-content: space-between;
    }

    .main-form__form-section {
        margin-left: 0;
        margin-right: 0;
    }

    .main-form__form-personal {
        width: 434px;
        padding-top: 32px;
    }

    .main-form__app {
        width: 434px;
    }

    .main-form__wraper {
        width: auto;
    }

    .main-form__form-contacts {
        width: 940px;
    }

    .main-form__control-wraper {
        display: flex;
        justify-content: space-between;
        width: 940px;
    }

    .main-form__legend--mobile {
        display: inline;
    }

    .main-form__legend {
        width: 320px;
        margin: 0;
        align-self: center;
    }

    .main-form__button--submit {
        margin: 0;
    }

    .main-form__travel-emotion {
        width: 940px;
    }
}