.OS-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.OS-list__item--ios {
    width: 47px;
    height: 56px;
    background: url('../images/os-list-item-ios.svg') no-repeat;
}

.OS-list__item--android {
    width: 43px;
    height: 47px;
    background: url('../images/os-list-item-android.svg') no-repeat;
}

.OS-list__item--windows {
    width: 44px;
    height: 41px;
    background: url('../images/os-list-item-windows.svg') no-repeat;
}