.page-header {
    position: relative;
    min-height: 733px;
    background-color: #1d2631;
    background-image:  url('../images/page-header-mobile-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 463px;
    background-position: top;
    &--inner-page {
        min-height: auto;
    }
}

.page-header__top {
    background: rgba(10,14,18,.5);
    &--menu-active {
        background: #283645;
    }
    &-inner {
        display: flex;
        width: 280px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        min-height: 65px;
    }
}

.page-header__logo {
    display: block;
    width: 75px;
    height: 22px;
}

.page-header__hand-icon {
    position: absolute;
    top: 150px;
    left: 0;
    z-index: 1;
    width: 280px;
    height: 314px;
    background-image:  url('../images/page-header-mobile-icon-hand.png');
    background-repeat: no-repeat;
}

.page-header__slogan {
    display: none;
}

.page-header__download-section {
    position: relative;
    z-index: 2;
    margin-top: 423px;
}


@media screen and (min-width: $medium) {
    .page-header {
        position: static;
        background-size: cover;
        background-position: center;
        background-image: url('../images/page-header-tablet-bg.png');
    }

    .page-header__top-inner {
        width: 620px;
        position: relative;
        min-height: 110px;
    }

    .page-header__logo {
        width: 150px;
        height: 40px;
    }

    .page-header__hand-icon {
        left: 130px;
        top: 188px;
        width: 491px;
        height: 545px;
        background-image:  url('../images/page-header-tablet-icon-hand.png');
        background-repeat: no-repeat;
    }

    .page-header__slogan {
        display: block;
        width: 242px;
        margin-top: 95px;
        font-size: 40px;
        font-weight: 300;
        color: #fff;
        line-height: 50px;
        text-align: center;
    }

    .page-header__download-section {
        position: relative;
        z-index: 2;
        width: 300px;
        margin-top: 35px;
    }

}


@media screen and (min-width: $large) {
    .page-header {
        min-height: 853px;
        background-image:  url('../images/page-header-desctop-bg.png');
        background-size: cover;
    &--inner-page {
            min-height: auto;
        }
    }

    .page-header__top-wraper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 940px;
        margin: 0 auto;
    }

    .page-header__top-inner {
        width: 150px;
        margin: 0;
    }

    .page-header__hand-icon {
        left: 350px;
        top: 208px;
        width: 560px;
        height: 645px;
        background-image:  url('../images/page-header-desctop-icon-hand.png');
        background-repeat: no-repeat;
    }

    .page-header__download-section {
        margin-top: 55px;
    }
}