.photo-item {
    background: #f2f2f2;
}

.photos-item__item--best {
    background: #fff;
}

.photo-item__image-wraper {
    &--best-of-day {
        position: relative;
        &:after {
            content: 'панорама дня';
            position: absolute;
            top: 0;
            right: 20px;
            padding-left: 20px;
            padding-right: 20px;
            color: #fff;
            font-size: 12px;
            font-weight: 700;
            line-height: 36px;
            text-transform: uppercase;
            background: #d22856;
        }
    }
}

.photo-item__image {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.photo-item__text-wrapper {
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 18px;
    font-size: 14px;
    line-height: 24px;
}

.photo-item__autor-name {
    margin: 0;
    font-weight: 700;
}

.photo-item__time {
    margin-left: 5px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.photo-item__text {
    margin: 0;
    margin-bottom: 10px;
}

.photo-item__likes {
    display: flex;
    margin: 0;
    color: #d22856;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
}

.photo-item__button--like {
    align-self: center;
    width: 13px;
    height: 12px;
    margin-right: 19px;
    border: none;
    outline: none;
    background: url("../images/photo-item-button--like.png") no-repeat;
}

.photo-item__likes-cnt {
    margin-left: 4px;
}


@media screen and (min-width: $medium) {
    .photo-item {
        position: relative;
        padding-bottom: 40px;
    }

    .photos-item__item--best {
        padding-bottom: 0;
        margin-bottom: 50px;
    }

    .photo-item__text {
        margin-bottom: 0;
    }

    .photo-item__likes {
        position: absolute;
        bottom: 24px;
        display: flex;
        width: 80%;
    }

    .photo-item__button--like {
        order: 2;
        margin-left: auto;
        margin-right: 0;
    }

    .photo-item__text-wrapper {
        padding-top: 20px;
        padding-left: 28px;
        padding-right: 28px;
    }

    .photo-item__image-wraper--best-of-day:after {
        top: 57px;
    }
}


@media screen and (min-width: $large) {
    .photo-item {
        margin-bottom: 55px;
    }

    .photo-item__image-wraper--best-of-day:after {
        right: 10vw;
    }
}