.tariff {
    position: relative;
    padding-top: 90px;
    padding-bottom: 46px;
    background: #f2f2f2;
    overflow: hidden;
    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        left: -100vw;
        top: 0;
        border-top: 30px solid #fff;
        border-bottom: 30px solid transparent;
        border-left: 100vw solid #fff;
        border-right: 100vw solid transparent;
    }
}

.tariff__wrap {
    position: relative;
    width: 100vw;
    min-height: 280px;
    margin: 0 auto;
    overflow: hidden;

}

.tariff__list {
    width: 100%;
    border-collapse: collapse;
    min-height: 280px;
}

.tariff_title {
    position: relative;
    width: 280px;
    box-sizing: border-box;
    background: #283645;
    color: #fff;
    &:nth-child(3) {
        border-right: 2px #e5e5e5 solid;
        border-left: 2px #e5e5e5 solid;
    }
    &--hit:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 74px;
        height: 73px;
        background: url("../images/tariff-hit-mobile.png") no-repeat;
    }
}

.tariff__name {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.tariff__price {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

.tariff__option {
    box-sizing: border-box;
    border: 2px solid #e5e5e5;
    background: #fff;
}

.tariff__value {
    padding: 0 20px;
    box-sizing: border-box;
    border: 2px solid #e5e5e5;
    vertical-align: middle;
    text-align: left;
    background: #fff;
}

.tariff__value-name {
    display: inline-block;
    width: 131px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 70px;
}

.tariff__icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: top;
    &--yes {
        fill: #3dc644;
    }
    &--none {
        fill: #f25b26;
    }
}

.tariff__button-list {
    margin: 0 auto;
    padding: 0;
    margin-top: 320px;
    list-style: none;
    display: flex;
    width: 60px;
    justify-content: space-between;
    align-items: center;
}

.tariff-button {
    display: block;
    width: 6px;
    height: 6px;
    padding: 0;
    border-radius: 50%;
    background: #bec2c7;
    &--acitve {
        width: 12px;
        height: 12px;
        background: #fff;
        border: 3px solid #283645;
    }
}

@media screen and (max-width: $medium) {
    .tariff__list {
        position: absolute;
        top: 0;
        width: 840px;
        &--left {
            left: 0px;
        }
        &--center {
            left: 50%;
            transform: translateX(-50%);
        }
        &--right {
            right: 0;
        }
    }

    .tariff__option {
        display: none;
        &--head {
            display: none;
        }
    }
}

@media screen and (min-width: $medium) {
    .tariff {
        padding-top: 88px;
        padding-bottom: 70px;
        &:before {
            border-top: 50px solid #fff;
            border-bottom: 50px solid transparent;
        }
    }

    .tariff__wrap {
        width: $medium;
        min-height: 220px;
    }

    .tariff__list {
        min-height: 220px;
    }

   .tariff_title {
        width: 155px;
    }

    .tariff_title--hit:after {
        width: 61px;
        height: 61px;
        background: url("../images/tariff-hit-tablet.png") no-repeat;
    }

    .tariff__name {
        font-size: 16px;
        line-height: 30px;
    }

    .tariff__price {
        font-size: 18px;
        line-height: 30px;
    }

    .tariff__option {
        width: 155px;
        padding-left: 15px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 400;
    }

    .tariff__value {
        text-align: center;
    }

    .tariff__value-name {
        display: none;
    }

    .tariff__icon {
        width: 28px;
        height: 28px;
    }

    .tariff__button-list {
        display: none;
    }
}


@media screen and (min-width: $large) {
    .tariff {
        padding-top: 148px;
        padding-bottom: 95px;
        &:before {
            border-top: 90px solid #fff;
            border-bottom: 90px solid transparent;
        }
    }

    .tariff__wrap {
        width: $large;
        min-height: 280px;
    }

    .tariff__list {
        min-height: 280px;
    }

    .tariff_title {
        width: 235px;
    }

    .tariff_title--hit:after {
        background: url("../images/tariff-hit-tablet.png") no-repeat;
    }

    .tariff__name {
        font-size: 18px;
        line-height: 30px;
    }

    .tariff__price {
        font-size: 24px;
        line-height: 30px;
    }

    .tariff__option {
        width: 235px;
        padding-left: 24px;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
    }
}