.contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.contacts__item {
    margin-bottom: 30px;
    display: block;
}

.contacts__title {
    margin: 0;
    margin-bottom: 9px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.contacts__value {
    margin: 0;
    font-size: 24px;
    line-height: 26px;
    font-weight: 300;
    color: #d22856;
    text-decoration: none;
    &--email {
        &:hover {
            color: #283645;
        }
        &:active {
            color: #283645;
            opacity: .3;
        }
    }
}


@media screen and (min-width: $medium) {
    .contacts {
        padding-top: 50px;
    }

    .contacts__list {
        margin-top: 53px;
        justify-content: space-around;
    }

    .contacts__item {
        margin-bottom: 55px;
        flex-basis: 230px;
        &--address {
            order: 1;
            margin-bottom: 30px;
        }
    }
}


@media screen and (min-width: $large) {
    .contacts {
        padding-top: 70px;
    }

    .contacts__list {
        margin-top: 65px;
    }

    .contacts__item--address {
        order: 0;
        margin-bottom: 55px;
    }

    .contacts__title {
        margin-bottom: 30px;
    }
}