.download-section__OS-list {
    padding-right: 35px;
    padding-left: 35px;
    margin-bottom: 28px;
    margin-top: 28px;
}

.button--download-app {
    width: 100%;
    border: 3px solid #fff;
    border-radius: 50px;
    font-weight: 700;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    &:hover {
        background: #fff;
        color: #d22856;
    }
    &:active {
        color: #f2ced5;
    }
}

.download-section__text {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
}


@media screen and (min-width: $medium) {
   .download-section__OS-list {
        padding-right: 46px;
        padding-left: 46px;
        margin-bottom: 45px;
        margin-top: 45px;
    }

    .download-section__OS-list {
        margin-bottom: 65px;
        margin-top: 65px;
    }

    .download-section__text {
        font-size: 18px;
    }
}