.form-fields__label {
    display: block;
    padding-left: 20px;
    margin-bottom: 7px;
    color: #d22856;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
}

.form-fields__list .form-fields__label {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 26px;
    transform: translateY(25%);
    color: #283645;
    text-transform: none;
    font-size: 18px;
    line-height: 30px;
}

.form-fields__input {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    padding-left: 20px;
    border: 2px solid #e5e5e5;
    font-size: 18px;
    line-height: 59px;
}

.form-fields__textarea {
    min-height: 200px;
    padding-top: 17px;
    line-height: 30px;
}

.form-fields__item:not(:last-child) {
    margin-bottom: 19px;
}

.form-fields__list  .form-fields__item:not(:last-child) {
    margin: 0;
    padding: 0;
    margin-bottom: 42px;
}

.form-fields__title {
    width: 250px;
    margin: 0 auto;
    font-weight: 400;
    color: #d22856;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}

.main-form__travel-emotion .form-fields__title {
    line-height: 30px;
    margin-bottom: 10px;
}

.form-fields__list {
    padding: 0;
    margin: 0;
    margin-top: 38px;
    list-style: none;
}

.form-fields__input-radio,
.form-fields__input-checkbox {
    display: none;
}

.form-fields__custom-checkbox {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 35px;
    width: 35px;
    border: 2px solid #e5e5e5;
    background: #fff;
}

.form-fields__input-checkbox:checked + .form-fields__custom-checkbox:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 16px;
    transform: translate(-50%, -50%);
    background: url("../images/form-fields-checkox-tick.svg") no-repeat;
}

.form-fields__custom-radio {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
    background: #fff;
}

.form-fields__input-radio:checked + .form-fields__custom-radio:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: #d22856;
}