.main-form__form-section {
    margin-top: 34px;
}

.main-form__form-section:first-child{
    margin-top: 0;
}

.main-form__form-section--box {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 42px;
    background: #f2f2f2;
}

.main-form__wraper {
    display: block;
    width: 280px;
    margin: 0 auto;
}

.main-form__popup {
    position: fixed;
    width: 100%;
    height: 380px;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
}

.main-form__button {
    display: block;
    width: 280px;
    margin: 0 auto;
    padding: 19px 0;
    border: none;
    outline: none;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background: #2aab6d;
    cursor: pointer;
}