.page-footer {
    display: none;
}

.page-header__wrap {
    min-height: 127px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (min-width: $medium) {
    .page-footer {
        display: block;
    }

    .page-footer__logo {
        flex-basis: 150px;
        height: 42px;
        background: url('../images/footer-logo.svg') no-repeat;
        &:hover {
            background: url('../images/footer-logo-hover.svg') no-repeat;
        }
        &:active {
            opacity: .3;
            background: url('../images/footer-logo.svg') no-repeat;
        }
    }

    .page-footer__social {
        flex-basis: 320px;
        padding-left: 72px;
        padding-right: 72px;
        box-sizing: border-box;
    }

    .page-footer__copyright {
        flex-basis: 150px;
    }

    .page-footer__logo-image {
        width: 150px;
        height: 42px;
    }
}