.photos__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.photos__item {
    display: block;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.photos-item__item--best {
    width: 100%;
}

.photos__best-wpraper {
    width: 280px;
    margin: 0 auto;
}