.photos__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.photos__item {
    display: block;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.photos-item__item--best {
    width: 100%;
}

.photos__best-wpraper {
    width: 280px;
    margin: 0 auto;
    background: #f2f2f2;
}


@media screen and (min-width: $medium) {
    .photos__list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -40px;
    }

    .photos__item {
        width: 300px;
    }

    .photos-item__item--best {
        width: 100%;
    }

    .photos__best-wpraper {
        position: relative;
        width: 620px;
        .photo-item__likes {
            top: 20px;
            right: 28px;
            bottom: auto;
            width: 122px;
        }
    }
}


@media screen and (min-width: $large) {
    .photos__list {
        width: 940px;
        margin: 0 auto;
    }

    .photos__best-wpraper {
        width: 940px;
    }

    .photos-item__item--best {
        width: 100%;
    }
}